@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}
html, body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
}
.categories-page{
    display: none;
    &.active{
        display: block;
    }
}
.statistics-page{
    width: 100%;
    display: none;
    &.active{
        display: block;
    }
}
.route-pages{
    display: flex;
    justify-content: center;
}
.statistics,
.add-words,
.to-main{
    color: black;
    font-weight: 800;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 20px;
    transition: 0.3s;
    &:hover{
        color: rgb(132, 183, 241);
    }
}
.add-words{
    margin-right: 0;
}
.main-page{
    color: black;
    display: block;
    font-weight: 800;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
    &:hover{
        color: rgb(132, 183, 241);
    }
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.categories-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.category{
    // &__wrapper{
    //     width: 25%;
    //     @media (max-width: 1000px) {
    //         width: 50%;
    //         margin-bottom: 20px;
    //     }
    // }
    &__container{
        margin: 0 auto;
        background-color: #f1f1f1;
        width: 20%;
        height: 200px;
        padding: 10px;
        border: 2px solid rgb(216, 214, 214);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        &.active{
            background-color: #bebebe;
        }
        @media (max-width: 1000px) {
            width: 30%;
            margin-bottom: 20px;
        }
        @media (max-width: 500px) {
            width: 45%;
            margin-bottom: 20px;
        }
        @media (max-width: 300px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__title{
        text-transform: uppercase;
        font-weight: 700;
    }
}
.word{
    &__wrapper{
        margin: 50px auto 0;
        background-color: #f1f1f1;
        width: 50%;
        padding: 10px;
        border: 2px solid rgb(216, 214, 214);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;
        @media (max-width: 330px){
            width: 95%;
            min-width:auto;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__eng-variant{
        margin-bottom: 50px;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
    }
    &__input{
        border: 2px solid rgb(216, 214, 214);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 10px;
        &.wrong{
            border: 2px solid red;
            outline-color: red;
        }
    }
    &__notice{
        color: red;
        text-align: center;
        margin-bottom: 20px;
        display: none;
        max-width: 186px;
        &.active{
            display: block;
        }
    }
    &__button{
        padding: 10px;
        font-size: 24px;
        border: 2px solid rgb(216, 214, 214);
        background-color: rgb(132, 183, 241);
        cursor: pointer;
    }
}
tbody{
    width: 100%;
}
.statistics{
    &__table-wrapper{
        width: 100%;
        display: none;
        &.active{
            display: table;
        }
    }
    &__row{
        width: 100%;
        border-bottom: 1px solid black;
        td{
            text-align: start;
            border-left: 1px solid black;
            padding-left: 10px;
            width: 50%;
            &:first-child{
                text-align: end;
                border-left: none;  
                padding-right: 10px;
            }
        }
        &:nth-child(2n){
            background-color: #f2f1f1;
        }
    }
    &__delete{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}
.notice{
    display: block;
    text-align: center;
}
.adding{
    &__wrapper{
        display: none;
        &.active{
            display: block;
        }
    }
}
.newword{
    &__form{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__input{
    display: block;
    border: 2px solid rgb(216, 214, 214);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;}
    &__button{
        width: 25%;
        margin: 0 auto;
        border: 2px solid rgb(216, 214, 214);
        border-radius: 10px;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
            background-color: #cccaca;
        }
    }
}
.--newword-table{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}